<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.base.service.dao.company.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.wms.base.service.model.entity.company.CompanyEntity">
        <!--@mbg.generated-->
        <!--@Table t_company-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="company_type" jdbcType="VARCHAR" property="companyType"/>
        <result column="company_status" jdbcType="TINYINT" property="companyStatus"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, company_name, company_code, company_type, company_status, create_date, create_id,
        update_date, update_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_company
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from t_company
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wms.base.service.model.entity.company.CompanyEntity"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_company (company_name, company_code, company_type,
                               company_status, create_date, create_id,
                               update_date, update_id)
        values (#{companyName,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyType,jdbcType=VARCHAR},
                #{companyStatus,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT},
                #{updateDate,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.wms.base.service.model.entity.company.CompanyEntity" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">
                company_name,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="companyType != null">
                company_type,
            </if>
            <if test="companyStatus != null">
                company_status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="companyType != null">
                #{companyType,jdbcType=VARCHAR},
            </if>
            <if test="companyStatus != null">
                #{companyStatus,jdbcType=TINYINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wms.base.service.model.entity.company.CompanyEntity">
        <!--@mbg.generated-->
        update t_company
        <set>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                company_code = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="companyType != null">
                company_type = #{companyType,jdbcType=VARCHAR},
            </if>
            <if test="companyStatus != null">
                company_status = #{companyStatus,jdbcType=TINYINT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wms.base.service.model.entity.company.CompanyEntity">
        <!--@mbg.generated-->
        update t_company
        set company_name   = #{companyName,jdbcType=VARCHAR},
            company_code   = #{companyCode,jdbcType=VARCHAR},
            company_type   = #{companyType,jdbcType=VARCHAR},
            company_status = #{companyStatus,jdbcType=TINYINT},
            create_date    = #{createDate,jdbcType=TIMESTAMP},
            create_id      = #{createId,jdbcType=BIGINT},
            update_date    = #{updateDate,jdbcType=TIMESTAMP},
            update_id      = #{updateId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update t_company
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="company_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.companyName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="company_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.companyCode,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="company_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.companyType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="company_status = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.companyStatus,jdbcType=TINYINT}
                </foreach>
            </trim>
            <trim prefix="create_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="create_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="update_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateDate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateId,jdbcType=BIGINT}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update t_company
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="company_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.companyName != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.companyName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="company_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.companyCode != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.companyCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="company_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.companyType != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.companyType,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="company_status = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.companyStatus != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.companyStatus,jdbcType=TINYINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createDate != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createId != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateDate != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.updateDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateId != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.updateId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_company
        (company_name, company_code, company_type, company_status, create_date, create_id,
         update_date, update_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.companyName,jdbcType=VARCHAR}, #{item.companyCode,jdbcType=VARCHAR},
             #{item.companyType,jdbcType=VARCHAR},
             #{item.companyStatus,jdbcType=TINYINT}, #{item.createDate,jdbcType=TIMESTAMP},
             #{item.createId,jdbcType=BIGINT}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.updateId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <select id="selectByCompanyCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_company
        where company_code = #{companyCode}
    </select>

    <update id="updateComPanyStatus">
        update  t_company
        set company_status =#{status}
        where id = #{companyId}
    </update>
</mapper>